<div class="center-container">  
    <div class="container">
        <div class="heading">Iniciar Sesión</div>
        <form (ngSubmit)="verificarLogin()"  class="form">
            <input required [(ngModel)]="cedula" class="input" type="text" name="cedula" id="cedulaInput" placeholder="Ingresa tu cédula">

            
            <div id="alerta" style="color: red;" *ngIf="error">
                <p>{{ error }}</p>
            </div>
            <input class="login-button" type="submit" value="Iniciar Sesión" >

            <p>Eres Veterinario? <a [routerLink]="['/vet/login']">Ingresa aquí</a></p>
        </form>
      
    </div>
</div>
