<main>

  <div id="title">
    <h1>Listado de Clientes con Mascotas</h1>
  </div>

<div id="block">
  <div id="searchBar">
    <input type="text" placeholder="Buscar un cliente" [(ngModel)]="searchCliente" (input)="filterClientes()" />
  </div>
  
  <div id="botonAgregar">
      <a class="button" [routerLink]="['/client/form']">Agregar cliente</a>
  </div>
</div>



  <div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Acciones</th> <!-- Nueva columna para el botón -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of filteredClientes">
                <td>{{ client.nombre }}</td>
                <td>{{ client.cedula }}</td>
                <td>
                  <button [routerLink]="['/client/', client.id]">Ver detalles</button>
                  <button [routerLink]="['/client/update/', client.id]" id="editarBtn">Editar</button>
                  <button id="eliminarBtn" (click)="eliminarCliente(client)">Eliminar</button>
                </td>
              </tr>
 
        </tbody>
    </table>
</div>
</main>
