<div id="container"></div>
    <div id="formulario-container" class="form_area">
        <h2 class="title">Agregar Mascota</h2>
        <form th:object="${mascota}" th:action="@{/mascota/add}" method="post"> 

            <div class="form_group">
                <label for="nombre">Nombre:</label>
                <input th:field="*{nombre}" type="text" id="nombre" placeholder="Ingresa el nombre" required class="form_style">    
            </div>
            
            <div class="form_group">
                <label for="raza">Raza:</label>
                <input th:field="*{raza}" type="text" id="raza" placeholder="Ingresa la raza" required class="form_style">
            </div>
           
            <div class="form_group">
                <label for="edad">Edad:</label>
                <input th:field="*{edad}" type="number" id="edad" placeholder="Ingresa la edad" required class="form_style">
            </div>
            
            <div class="form_group">
                <label for="peso">Peso:</label>
                <input th:field="*{peso}" type="number" id="peso" placeholder="Ingresa el peso" required class="form_style">
            </div>

            <div class="form_group">
                <label for="foto">Foto:</label>
                <input th:field="*{foto}" type="text" id="foto" placeholder="Ingresa la URL de la foto" required class="form_style">
            </div>
                
            <div class="form_group">
                <label for="enfermedad">Enfermedad:</label>
                <input th:field="*{enfermedad}" type="text" id="enfermedad" placeholder="Ingresa la enfermedad" required class="form_style">
            </div>
                 
            <div class="form_group">
                <label for="estado">Estado:</label>
                <select id="estado" th:field="${mascota.estado}" name="estadoSeleccionado" class="form_style" required>
                    <option th:value="Activo">Activo</option>
                    <option th:value="Inactivo">Inactivo</option>
                </select>
            </div>

            <div class="form_group">
                <label for="cliente">Cliente:</label>
                <select id="clientes" name="clienteSeleccionado" th:value="${clienteSeleccionado}" required class="form_style">
                    <option th:each="cliente : ${clientes}" th:value="${cliente.cedula}" th:text="${cliente.nombre} + ' - ' + ${cliente.cedula}"></option>
                </select>
            </div>
                 
            <div id="botones">
                <a th:href="@{/mascota/all}">Volver</a>
                <div id="enviarBtn">
                    <button type="submit">Crear</button>
                </div>
            </div>

        </form>
    </div>