<main>
  <div id="container">
      <div id="info" class="form_area">
        <h1 class="title">Información de la mascota</h1>
  
        <!-- Imagen de la mascota -->
        <img [src]="selectedPet.foto" alt="Foto" class="form_style" *ngIf="selectedPet">
  
        <!-- Detalles de la mascota -->
        <p id="nombreMascota" class="form_group"><strong>Nombre: </strong> <span>{{ selectedPet?.nombre }}</span></p>
        <p  id="razaMascota" class="form_group"><strong>Raza: </strong> <span>{{ selectedPet?.raza }}</span></p>
        <p  id="edadMascota" class="form_group"><strong>Edad: </strong> <span>{{ selectedPet?.edad }}</span></p>
        <p  id="enfermedadMascota" class="form_group"><strong>Enfermedad: </strong> <span>{{ selectedPet?.enfermedad }}</span></p>
        <p  id="estadoMascota" class="form_group"><strong>Estado: </strong> <span>{{ selectedPet?.estado }}</span></p>
  
        <!-- Detalles del dueño -->
        <p id="duenioMascota" class="form_group"><strong>Dueño: </strong> <span>{{ duenio?.nombre }}</span></p>

        <table>
          <thead>
            <tr>
              <th scope="col">Veterinario</th>
              <th scope="col">Droga</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tratamiento of tratamientoList">
              <td class="liTratamientoVet">{{ tratamiento.veterinario?.nombre }}</td>
              <td class="liTratamientoDroga">{{ tratamiento.droga?.nombre }}</td>
              <td class="liTratamientoFecha"> {{ tratamiento.fecha }} </td>

            </tr>
          </tbody>
        </table>
  
        <!-- Botón de volver -->
        <div id="botones">
          <a (click)="goBack()" class="btn"><strong>Volver</strong></a>
        </div>        
      </div>
  </div>
</main>
