<main>

    <!--    
   <div id="container-left">
        <div id="titulo">
            <h1>Dashboard</h1>
        </div>
        <div id="container-tratamientos">
           <div class="labels">
            <p>Cantidad total de tratamientos ultimo mes</p>
           </div>
           <div class="data">
        
           </div>
        </div>

        <div id="container-veterinarios-activos">
            <div class="labels">
                <p>Cantidad de veterinarios activos</p>
            </div>
            <ng-container>
                <div class="data">
                    <p>{{dashboard.veterinariosActivos}}</p>
                </div>
            </ng-container>
          
        </div>

        <div id="container-veterinarios-inactivos">
            <div class="labels">
                <p>Cantidad de veterinarios inactivos</p>
            </div>
            <ng-container>
                <div class="data">
                    <p>{{dashboard.veterinariosInactivos}}</p>
                </div>
            </ng-container>
        </div>
       

        <div id="container-mascotas-activas">
            <div class="labels">
                <p>Cantidad de mascotas activas</p>
            </div>
            <ng-container>
                <div class="data">
                    <p>{{dashboard.mascotasActivas}}</p>
                </div>
            </ng-container>
        </div>

        <div id="container-mascotas-inactivas">
            <div class="labels">
                <p>Cantidad de mascotas inactivas</p>
            </div>
            <ng-container>
                <div class="data">
                    <p>{{dashboard.mascotasInactivas}}</p>
                </div>
            </ng-container>
        </div>

    </div>

    <div id="container-right">
        <div id="container-tratamientos">
            <div class="labels">
                <p>Cantidad de drogas disponibles en la veterinaria</p>
            </div>
         
            <table>
                <thead>
                    <tr>
                        <th scope="col">Medicamentos</th>
                        <th scope="col">Cantidad</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let droga of dashboard.drogas">
                        <td>{{ droga.nombre }}</td>
                        <td>{{ droga.cantidad }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    -->


</main>