<main>
    <div id="titulo">
        <h1>Dashboard</h1>
    </div>

    <div id="container">
        <div id="left-container">

            <div class="mini-container">
                <div class="label">
                    <h3>Cantidad de veterinarios activos</h3>
                </div>

                <div class="info-label">
                    <h4>{{ numeroVeterinarios }}</h4>
                </div>
            </div>

            
            <div class="mini-container">
                <div class="label">
                    <h3>Cantidad de mascotas activas</h3>
                </div>

                <div class="info-label">
                    <h4> {{ numeroMascotas }}</h4>
                </div>
            </div>
            
                
            <div class="mini-container">
                <div class="label">
                    <h3>Cantidad de mascotas inactivas</h3>
                </div>

                <div class="info-label">
                    <h4>{{ numeroMascotasInactivas }}</h4>
                </div>
            </div>

            
            
            

        </div>
        <div id="right-container">

            
            <div class="mini-container">
                <div class="label"> 
                    <h3>Número de tratamientos en el ultimo mes</h3>
                </div>

                <div class="info-label">
                    <h4>{{ numeroTratamientos }}</h4>
                </div>
            </div>
            
            
                   
            <div class="mini-container">
                <div class="label">
                    <h3>Ventas totales</h3>
                </div>

                <div class="info-label">
                    <h4>{{ventasTotales}}</h4>
                </div>
            </div>
            
                   
            <div class="mini-container">
                <div class="label">
                    <h3>Ganancias totales</h3>
                </div>

                <div class="info-label">
                    <h4>{{ gananciasTotales }}</h4>
                </div>
            </div>
            
         
            
        </div>
    </div>

       
    <div id="tituloDrogas">
        <h3>Top drogas de la veterinaria</h3>
    </div>


    <div id="table">
        <table>
            <thead>
                <tr> 
                    <th>Nombre</th>
                    <th>Precio venta</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let droga of topdrogas">
                    <td>{{droga.nombre}}</td>
                    <td>{{droga.precioVenta}}</td>
                </tr>
            </tbody>
        </table>
    </div>

   
</main>