<nav>

    <div class="logo">
        <h4>Lux<span>Pet</span></h4>
    </div>  

    <div id="infoCliente">

<div class="card-client">

<p>Bienvenido a Luxpet</p>

    <!-- Añade iconos o enlaces para redes sociales si es necesario -->
    <div class="social-media">
        <ng-container *ngIf="cliente">
            <p class="form_group">
              <span>{{ cliente?.nombre }}</span>
            </p>
              <p class="form_group">
                  <span>{{ cliente?.cedula }}</span>
              </p>
              <p class="form_group">
                  <span>{{ cliente?.correo }}</span>
              </p>
              <p class="form_group">
                  <span>{{ cliente?.celular }}</span>
              </p>
              </ng-container>
        <!-- Más enlaces si es necesario -->
    </div>
    
</div>
</div>

   

<a [routerLink]="['/client/login']" id="cerrarSesionBtn" class="btn">Cerrar Sesión</a>

    
</nav>