<!--    id: number;
    cedula: string;
    contrasenia: string;
    especialidad: string;
    foto: string;
    numAtenciones: number;
    nombre: string;
    mascotas: Mascota[];
    -->
<main>
    

    <div id="title">
        <h1>Lista de veterinarios</h1>
    </div>

    <div id="block">
        <div id="searchBar">
          <input type="text" placeholder="Buscar un veterinario" [(ngModel)]="searchVeterinario" (input)="filterVeterinario()" />
        </div>
        
        <div id="botonAgregar">
            <a class="button" [routerLink]="['/admin/form']">Agregar veterinario</a>
        </div>
    </div>


  <div>
    <table>
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cedula</th>
                <th scope="col">Acciones</th> <!-- Nueva columna para el botón -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vet of filteredVeterinarios">
                <td>{{ vet.nombre }}</td>
                <td>{{ vet.cedula }}</td>
                <td>
                  <button [routerLink]="['/admin/', vet.id]">Ver detalles</button>
                  <button [routerLink]="['/admin/update/', vet.id]" id="editarBtn">Editar</button>
                  <button id="eliminarBtn" (click)="eliminarVeterinario(vet)">Eliminar</button>
                </td>
              </tr>
 
        </tbody>
    </table>
</div>
</main>
