<div id="container"></div>
    <div id="formulario-container" class="form_area">
        <h2 class="title">Agregar Mascota</h2>
        <form (ngSubmit)="guardarCambios()"> 

            <div class="form_group">
                <label for="nombre">Nombre:</label>
                <input [(ngModel)]="formularioMascota.nombre" name="nombre" type="text" id="nombre" placeholder="Ingresa el nombre" required class="form_style">
              </div>
              
              <div class="form_group">
                <label for="raza">Raza:</label>
                <input [(ngModel)]="formularioMascota.raza" name="raza" type="text" id="raza" placeholder="Ingresa la raza" required class="form_style">
              </div>
              
              <div class="form_group">
                <label for="edad">Edad:</label>
                <input [(ngModel)]="formularioMascota.edad" name="edad" type="number" id="edad" placeholder="Ingresa la edad" required class="form_style">
              </div>
              
              <div class="form_group">
                <label for="peso">Peso:</label>
                <input [(ngModel)]="formularioMascota.peso" name="peso" type="number" id="peso" placeholder="Ingresa el peso" required class="form_style">
              </div>
              
              <div class="form_group">
                <label for="foto">Foto:</label>
                <input [(ngModel)]="formularioMascota.foto" name="foto" type="text" id="foto" placeholder="Ingresa la URL de la foto" required class="form_style">
              </div>
              
              <div class="form_group">
                <label for="enfermedad">Enfermedad:</label>
                <input [(ngModel)]="formularioMascota.enfermedad" name="enfermedad" type="text" id="enfermedad" placeholder="Ingresa la enfermedad" required class="form_style">
              </div>
              
              <div class="form_group">
                <label for="estado">Estado:</label>
                <select id="estado" [(ngModel)]="formularioMascota.estado" name="estadoSeleccionado" class="form_style" required>
                  <option [value]="'Activo'">Activo</option>
                  <option [value]="'Inactivo'">Inactivo</option>
                </select>
              </div>
              
              <div class="form_group">
                <label for="cliente">Cliente:</label>
                <select id="clientes" [(ngModel)]="formularioMascota.cliente" name="clienteSeleccionado" required class="form_style">
                  <option *ngFor="let cliente of clientList" [value]="cliente.cedula">{{ cliente.nombre }} - {{ cliente.cedula }}</option>
                </select>
              </div>
              
              <button type="submit" class="btn btn-primary">Agregar Mascota</button>
        </form>
    </div>