main {
    display: flex;
    flex-direction: column;
      width: calc(100% - 250px);
      height: 100vh;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
  
    main h2{
      font-family: "Nunito", sans-serif;
      color: #ddc47d;
      font-size: 40px;
      margin-bottom: 20px;
    }
  
    table{
      width: 80%;
      border-collapse: collapse;
      margin-top: 20px;
      font-family: "Nunito", sans-serif;
     
    }
  
    table th{
      border: 2px solid black;
      font-size: 20px;
      margin-bottom: 20px;
      padding: 15px;
      background-color: #ddc47d;
    }

    
  
      table td{
          border: 2px solid black;
          font-size: 20px;
          text-align: center;
          padding: 10px;
          background-color: #f2ebdb;
      }
  
      #detallesMascota{
          font-family: "Nunito", sans-serif;
          align-items: center;
          font-size: 16px;
          padding: 8px;
          background-color: #e4d9bc;
          border: none;
          border-radius: 12px;
          cursor: pointer; 
      }
  
      #detallesMascota:hover{
          background-color: #ddc47d;
      }

      td button{
        margin: 0 5px;
    }
    
    tr th {
      text-align: center; /* Centra horizontalmente el texto */
        vertical-align: middle;
    } 

    
#searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%; /* Ancho fijo */
  max-width: 1000px; /* Ancho máximo opcional */
}

#searchBar input {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
}
