<main>
    <h2>Tus mascotas</h2>
    <table>
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mascota : ${cliente.mascotas}">
                <td><img th:src="${mascota.foto}" alt="Foto" width="150px"></td>                
                <td th:text="${mascota.nombre}"></td>
                
                <td>
                    <a th:href="@{/mascota/portal/{id}(id=${mascota.id})}"> <button id="detallesMascota">Ver detalles</button></a>
                </td>
            </tr>
        </tbody>
    </table>
       
</main>

