<header>
    <div id="logo">
        <h1><a href="/">Lux<span>Pet</span></a></h1>
        </div>
      
          <ul>
              <li><i class="fa-solid fa-paw"></i><a href="#servicios">Servicios</a></li>
              <li><i class="fa-solid fa-bone"></i><a href="#nosotros">Nosotros</a></li>
              <li><i class="fa-solid fa-shield-dog"></i><a href="#misionyvision">Proposito</a></li>
              <li><i class="fa-solid fa-location-dot"></i><a href="#encuentranos">Encuentranos</a></li>
              <li><a [routerLink]="['/client-login']"><button class="button">Acceder</button>
              </a></li>
          </ul>
</header>
