<div class="center-container">  
    <div class="container">
        <div class="heading">Iniciar Sesión</div>
        <form action="/login/loginVeterinario" method="post" class="form">
            <input required="" class="input" type="text" name="cedula" id="cedula" placeholder="Ingresa tu cédula">
            <input required="" class="input" type="password" name="cedula" id="cedula" placeholder="Ingresa su contraseña">

            <input class="login-button" type="submit" value="Iniciar Sesión">
        </form>
        <div id="alerta" style="color: red;">
          <p th:if="${error}" th:text="${error}"></p>
      </div>
    </div>
</div>
