<main>
  
  <div id="title">
    <h1>Listado de Mascotas</h1>
  </div>



  
    <div id="block">
        <div id="searchBar">
          <input type="text" placeholder="Buscar una Mascota" [(ngModel)]="searchMascota" (input)="filterMascotas()" />
        </div>

        <div id="botonAgregar">
          <a type="button" [routerLink]="['/vet/pet/form']">Agregar mascota</a>
        </div>
    
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mascota of filteredMascotas">
                  <td>{{ mascota.nombre }}</td>
                  <td>{{ mascota.raza }}</td>
                  <td>
                    <a [routerLink]="['/vet/pet/', mascota.id]"><button>Ver detalles</button></a>
                    <a [routerLink]="['/vet/pet/update/', mascota.id]"><button id="editarBtn">Editar</button></a>
                    <button id="eliminarBtn" (click)="eliminarMascota(mascota)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
</main>
